Repository woowa-techcamp-2021/cashbook-10, pull requests merged in 2021-08, with the labels that each got.

#27 [FE] 이벤트 핸들러 생성
  client/src/App.ts
  client/src/components/History/historyItem.ts
  client/src/lib/woowact/core/Component.ts
  client/src/lib/woowact/core/Diff.ts
  client/src/lib/woowact/core/EventHandler.ts
  client/src/lib/woowact/core/Store.ts
  client/src/pages/ExamplePage.ts
  client/src/pages/MainPage.ts
Labels: feature

#29 [FE] 메인페이지 구현 중 (히스토리 내역 구현 완료)
  client/src/App.ts
  client/src/assets/add.svg
  client/src/assets/check.svg
  client/src/assets/chevron-left.svg
  client/src/assets/chevron-right.svg
  client/src/assets/close-white.svg
  client/src/assets/delete.svg
  client/src/assets/edit.svg
  client/src/assets/emptyList.png
  client/src/assets/more-vertical.svg
  client/src/assets/user.svg
  client/src/components/Calander/CalanderSection.ts
  client/src/components/Chart/ChartSection.ts
  client/src/components/Common/AddButton.ts
  client/src/components/Common/IMGButton.ts
  client/src/components/Common/Modal.ts
  client/src/components/ExampleComponent.ts
  client/src/components/Header/DatePicker.ts
  client/src/components/Header/Header.ts
  client/src/components/History/HistortySection.ts
  client/src/components/History/HistoryBrief.ts
  client/src/components/History/HistoryList.ts
  client/src/components/History/historyItem.ts
  client/src/lib/woowact/core/Component.ts
  client/src/lib/woowact/core/Store.ts
  client/src/pages/ExamplePage.ts
  client/src/pages/MainPage.ts
  client/src/pages/index.ts
  client/src/stores/History.ts
  client/src/stores/Number.ts
  client/src/styles/header.scss
  client/src/styles/history/historyBrief.scss
  client/src/styles/history/historySection.scss
  client/src/styles/index.scss
  client/src/styles/main/index.scss
  client/src/styles/mixins.scss
  client/src/styles/reset.scss
  client/src/useResource.ts
  client/src/utils/money.ts
  server/src/services/history.service.ts
Labels: feature, style

#30 [BE] OAuth 기능 구현 및 API 리팩토링
  client/package-lock.json
  client/src/styles/history/historySection.scss
  client/src/styles/mixins.scss
  server/package-lock.json
  server/package.json
  server/src/controllers/category.controller.ts
  server/src/controllers/history.controller.ts
  server/src/controllers/index.ts
  server/src/controllers/payment.controller.ts
  server/src/controllers/user.controller.ts
  server/src/custom.d.ts
  server/src/index.ts
  server/src/middlewares/auth.middleware.ts
  server/src/models/category.ts
  server/src/models/history.ts
  server/src/models/userPayment.ts
  server/src/routers/apis/authRouter.ts
  server/src/routers/apis/category.router.ts
  server/src/routers/apis/history.router.ts
  server/src/routers/apis/payment.router.ts
  server/src/routers/apis/user.router.ts
  server/src/routers/apis/userRouter.ts
  server/src/routers/index.ts
  server/src/services/category.service.ts
  server/src/services/index.ts
  server/src/services/payment.service.ts
  server/src/services/user.service.ts
  server/src/utils/date.ts
  server/src/utils/jwt.ts
  server/tsconfig.json
Labels: feature, style

#32 [FE] 모달 기본 기능 구현
  client/src/App.ts
  client/src/components/Common/AddButton.ts
  client/src/components/Common/Modal.ts
  client/src/components/Header/Header.ts
  client/src/components/Modals/AddHistoryModal.ts
  client/src/components/Modals/CoreModal.ts
  client/src/components/Modals/LoginModal.ts
  client/src/styles/history/historySection.scss
  client/src/styles/index.scss
  client/src/styles/modal.scss
Labels: feature

#33 [FE] 로그인 모달창 UI 구현
  client/src/assets/hide.svg
  client/src/assets/show.svg
  client/src/components/Header/DatePicker.ts
  client/src/components/Header/Header.ts
  client/src/components/Modals/CoreModal.ts
  client/src/components/Modals/LoginModal.ts
  client/src/components/Modals/SigninModal.ts
  client/src/components/Modals/SignupModal.ts
  client/src/styles/header.scss
  client/src/styles/modal.scss
  client/src/styles/modals/history.scss
  client/src/styles/modals/index.scss
  client/src/styles/modals/signin.scss
  client/src/styles/modals/signup.scss
  client/src/styles/variables.scss
  client/src/useResource.ts
  client/src/utils/validations.ts
Labels: feature

#37 [FE] 캘린더 구현
  client/package.json
  client/src/components/Calander/CalanderSection.ts
  client/src/components/Calendar/CalendarSection.ts
  client/src/pages/MainPage.ts
  client/src/styles/calendar/calendarSection.scss
  client/src/styles/main/index.scss
  client/src/styles/mixins.scss
  client/src/styles/variables.scss
  client/src/utils/calendar.ts
  client/src/utils/calendar/calendar.ts
  client/src/utils/calendar/index.scss
  server/src/index.ts
Labels: feature

#39 [FE] 히스토리 추가 모달창 UI 기능 구현 완료
  client/src/assets/add.svg
  client/src/assets/chevron-down.svg
  client/src/assets/minus.svg
  client/src/assets/plus.svg
  client/src/components/Common/AddButton.ts
  client/src/components/History/historyItem.ts
  client/src/components/Modals/AddHistoryModal.ts
  client/src/pages/MainPage.ts
  client/src/styles/history/category.scss
  client/src/styles/history/historySection.scss
  client/src/styles/mixins.scss
  client/src/styles/modals/history.scss
  client/src/useResource.ts
Labels: feature, style

#38 [FE] 회원가입 및 로그인 API 연동
  client/src/apis/api.ts
  client/src/apis/authAPI.ts
  client/src/apis/userAPI.ts
  client/src/components/Modals/CoreModal.ts
  client/src/components/Modals/SigninModal.ts
  client/src/components/Modals/SignupModal.ts
  server/src/controllers/history.controller.ts
  server/src/controllers/user.controller.ts
  server/src/middlewares/auth.middleware.ts
  server/src/routers/apis/auth.router.ts
  server/src/routers/apis/user.router.ts
  server/src/services/user.service.ts
Labels: feature

#40 [FE] 차트구현, 도넛 차트
  client/src/components/Chart/ChartSection.ts
  client/src/components/Chart/ChartTagList.ts
  client/src/styles/chart/chartSection.scss
  client/src/styles/chart/chartTagList.scss
  client/src/styles/main/index.scss
  client/src/styles/mixins.scss
  client/src/utils/categories.ts
Labels: feature, style

#41 [FE] 히스토리 추가 모달창 구현
  client/src/apis/categoryAPI.ts
  client/src/apis/historyAPI.ts
  client/src/apis/paymentAPI.ts
  client/src/components/Common/Dropdown.ts
  client/src/components/History/HistortySection.ts
  client/src/components/History/historyItem.ts
  client/src/components/Modals/AddHistoryModal.ts
  client/src/components/Modals/CoreModal.ts
  client/src/components/Modals/SigninModal.ts
  client/src/components/Modals/SignupModal.ts
  client/src/pages/MainPage.ts
  client/src/stores/Category.ts
  client/src/stores/History.ts
  client/src/stores/Payment.ts
  client/src/styles/dropdown.scss
  client/src/styles/modals/history.scss
  client/src/styles/variables.scss
  client/src/utils/calendar/calendar.ts
  server/src/controllers/payment.controller.ts
  server/src/routers/apis/payment.router.ts
  server/src/services/category.service.ts
  server/src/services/history.service.ts
Labels: feature, style

#42 [FE, BE] 반응형 작업 및 API 리팩토링
  client/src/apis/api.ts
  client/src/components/Calendar/CalendarSection.ts
  client/src/components/Chart/ChartSection.ts
  client/src/components/Header/DatePicker.ts
  client/src/components/Header/Header.ts
  client/src/pages/MainPage.ts
  client/src/styles/calendar/calendarSection.scss
  client/src/styles/header.scss
  client/src/styles/history/historySection.scss
  client/src/styles/main/index.scss
  client/src/styles/responsive.scss
  client/src/styles/variables.scss
  client/src/utils/calendar/calendar.ts
  client/src/utils/calendar/index.scss
  server/src/middlewares/auth.middleware.ts
Labels: bug, feature, style

#46 [FE] 다크 모드 구현
  client/src/App.ts
  client/src/assets/moon.svg
  client/src/assets/sun.svg
  client/src/components/Header/DatePicker.ts
  client/src/styles/calendar/calendarSection.scss
  client/src/styles/header.scss
  client/src/styles/history/historySection.scss
  client/src/styles/index.scss
  client/src/styles/responsive.scss
  client/src/styles/theme.scss
  client/src/styles/variables.scss
  client/src/useResource.ts
  client/src/utils/theme.ts
Labels: feature, style

#47 [FE] 날짜별 상세 기록 페이지 구현 & 로그인 연동
  client/src/apis/api.ts
  client/src/components/Calendar/CalendarSection.ts
  client/src/components/Chart/ChartSection.ts
  client/src/components/Common/AddButton.ts
  client/src/components/Header/DatePicker.ts
  client/src/components/History/HistortySection.ts
  client/src/components/History/HistoryBrief.ts
  client/src/components/History/HistoryList.ts
  client/src/components/History/historyItem.ts
  client/src/components/Modals/AddHistoryModal.ts
  client/src/components/Modals/CoreModal.ts
  client/src/components/Modals/DailyHistoryModal.ts
  client/src/components/Modals/SigninModal.ts
  client/src/components/Modals/SignupModal.ts
  client/src/stores/History.ts
  client/src/styles/dropdown.scss
  client/src/styles/history/emptyHistory.scss
  client/src/styles/history/historyList.scss
  client/src/styles/history/historySection.scss
  client/src/styles/index.scss
  client/src/styles/main/index.scss
  client/src/styles/mixins.scss
  client/src/styles/modals/daily.scss
  client/src/styles/modals/history.scss
  client/src/styles/modals/index.scss
  client/src/styles/modals/signin.scss
  client/src/styles/modals/signup.scss
  client/src/styles/theme.scss
  client/src/styles/variables.scss
  client/src/utils/calendar/calendar.ts
Labels: feature, style

#49 [FE] 차트 토글 기능 구현
  client/src/components/Chart/ChartSection.ts
  client/src/components/Chart/ChartToggleButton.ts
  client/src/styles/chart/chartSection.scss
  client/src/styles/chart/chartToggleButton.scss
  client/src/utils/calendar/calendar.ts
Labels: bug, feature, style

#50 [FE] (완전 chore) 텅 이미지 변경~!
  client/src/assets/emptyList.png
  client/src/styles/history/emptyHistory.scss
  client/src/styles/modals/daily.scss
  client/src/styles/variables.scss
Labels: style

#53 [FE] 결제수단 삭제 구현 완료
  client/src/components/AddHistory/AddHistoryModal.ts
  client/src/components/AddHistory/AddPayment.ts
  client/src/components/AddHistory/PaymentDropdown.ts
  client/src/components/Calendar/CalendarSection.ts
  client/src/components/Common/AddButton.ts
  client/src/components/Common/Dropdown.ts
  client/src/components/Modals/DailyHistoryModal.ts
  client/src/styles/dropdown.scss
  server/src/services/payment.service.ts
Labels: bug, feature, style

#57 [FE] 로고 넣기
  client/src/components/Header/DatePicker.ts
  client/src/components/Modals/SigninModal.ts
  client/src/components/Modals/SignupModal.ts
  client/src/styles/header.scss
  client/src/styles/mixins.scss
  client/src/styles/modals/signin.scss
  client/src/styles/modals/signup.scss
  client/src/styles/responsive.scss
Labels: style

#59 [FE] 시연용 로그인 버튼
  client/src/apis/authAPI.ts
  client/src/components/Modals/SigninModal.ts
  client/src/components/Modals/SignupModal.ts
  client/src/styles/modals/signin.scss
Labels: feature

#61 [FE] 깃허브 로그인 연동중~!
  client/src/components/Modals/SigninModal.ts
  client/src/styles/history/historyList.scss
  client/src/styles/modals/signin.scss
  client/src/styles/variables.scss
  server/package-lock.json
  server/package.json
  server/src/controllers/auth.controller.ts
  server/src/routers/apis/auth.router.ts
  server/src/routers/index.ts
  server/src/services/history.service.ts
Labels: feature, style

#62 [FE] Fe GitHub로그인 마무리..!
  client/src/apis/api.ts
  client/src/apis/authAPI.ts
  client/src/index.ts
  client/src/lib/woowact/core/Component.ts
  server/src/controllers/auth.controller.ts
  server/src/index.ts
Labels: feature

#64 [FE, BE] 배포할 때 문제 생겼었던 버그들 commit!
  client/src/components/AddHistory/AddHistoryModal.ts
  client/src/components/History/HistoryItem.ts
  client/src/utils/calendar/calendar.ts
  server/src/index.ts
Labels: bug

#65 [FE, BE] 버그 수정
  client/src/components/Chart/ChartSection.ts
  client/src/styles/chart/chartTagList.scss
  server/src/services/history.service.ts
  server/src/services/payment.service.ts
  server/src/utils/convertScriptText.ts
Labels: bug

#66 [FE] 차트 카테고리 펼치기 버튼 추가
  client/src/components/Chart/ChartTagList.ts
  client/src/styles/chart/chartTagList.scss
Labels: feature, style

#67 [FE, BE] GitHub 로그인 리팩토링
  .gitignore
  client/src/apis/api.ts
  client/src/apis/authAPI.ts
  client/src/components/Modals/SigninModal.ts
  client/src/configExample.ts
  client/src/index.ts
  client/src/utils/alert/alert.scss
  client/src/utils/alert/alert.ts
  client/src/utils/auth.ts
  server/.env.example
  server/src/controllers/auth.controller.ts
  server/src/models/index.ts
  server/src/routers/apis/auth.router.ts
  server/src/services/auth.service.ts
Labels: bug, feature

#68 fix: :bug: scss 클래스 이름 겹쳐서 생긴 문제 수정 + animationstart할 때 remove 시키는거 a…
  client/src/utils/alert/alert.scss
  client/src/utils/alert/alert.ts
Labels: bug
